* {
    margin: 0;
    padding: 0;
  }
  
  .intro {
    height: 100vh;
    background-image: url(../images/bg1.jpg);
    font-family: "Montserrat", sans-serif;
  }
  
  nav {
    align-items: center;
    margin: auto;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: rgb(159, 48, 48);
  }
  
  /* .nav-link:not-last-child{
      margin-right: 60px;
  } */
  header {
    display: flex;
    height: 70px;
    background-color: black;
    justify-content: space-around;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    color: rgb(210, 210, 210);
    font-size: 100px;
    margin-top: 100px;
  }
  
  .intro-text {
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .social-icons {
    background-color: rgb(158, 158, 158);
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 200px;
    align-items: center;
    position: fixed;
    opacity: 0.5;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin: auto;
  }
  
  .second-part {
    height: 100vh;
    font-family: "Montserrat", sans-serif;
  }
  
  .second-wrapper {
    width: 90%;
    margin: auto;
  }
  
  .second-info {
    display: flex;
    margin-top: 100px;
    /* margin-top: 150px; */
    /* padding-left: 60px; */
  }
  
  .descr-text {
    padding-top: 10px;
  }
  
  .second-img {
    width: 60px;
    height: 60px;
  }
  
  .descr-text-store {
    width: 50%;
  }
  
  h2 {
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
  }
  
  h2:hover {
    color: rgb(159, 48, 48);
  }
  
  .line {
    background-color: rgb(142, 142, 142);
    height: 2px;
    width: 80px;
    margin: auto;
    margin-top: 40px;
  }
  
  .descr-info {
    margin-left: 30px;
    background-color: rgb(195, 195, 195);
    border-radius: 3%;
    width: 30%;
    align-items: center;
    padding-top: 30px;
  }
  
  .descr-info:hover {
    background-color: rgb(201, 76, 76);
    transform: scale(1.07);
  }
  
  .descr-text {
    text-align: center;
  }
  
  .second-img {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  h3 {
    text-align: center;
    padding-top: 30px;
  }
  
  .next-btn {
    border: none;
    border-radius: 7%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
  }
  
  .gallery {
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(71, 69, 69);
  }
  
  .gallery-wrapper {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  
  .gallery-line {
    background-color: white;
  }
  
  .carousel-item {
    width: 70%;
    height: 70%;
  }
  
  .carousel {
    width: 90%;
    margin: auto;
    align-items: center;
    margin-top: 70px;
  }
  
  .carousel-img {
    width: 300px;
    height: 250px;
    border-radius: 3%;
  }
  
  .carousel-item {
    width: 300px;
    height: 300px;
  }
  
  .gallery-title {
    /* margin-bottom: 90px; */
    font-size: 32px;
    color: white;
    padding-top: 40px;
  }
  
  .gallery-title:hover {
    color: rgb(159, 48, 48);
  }
  
  .carousel-item:hover {
    transform: scale(1.05);
  }
  
  .location {
    height: 100vh;
    background-color: black;
    font-family: "Montserrat", sans-serif;
  }
  
  .location-logo {
    width: 30px;
    height: 30px;
  }
  
  .location-title {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: left;
    margin-left: 20px;
  }
  
  .loc-title {
    color: white;
  }
  
  .location-text {
    color: white;
    margin-top: 10px;
  }
  
  .location-descr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 80px;
    /* margin: auto; */
  }
  
  .location-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin-bottom: 30px;
    align-items: flex-start;
  
  }
